@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
@* <link rel="stylesheet" href="css/debugger.css" /> *@

<script src="lib/payne-debugger/debugHelper.min.js"></script>

<div class="container" id="mainContainer">

    <div class="alert alert-primary" role="alert">
        Try both pages and resize them for checking responsiveness.
    </div>

</div>

